.value {
        font-weight: bold;
    }
     
    .ui-datatable {
        margin-bottom: 25px
    }
     
    .ui-datatable .ui-datatable-footer {
        text-align:left;
    }
     
    .ui-datalist ul {
        padding: 0 0 0 10px;
        margin: 5px 0;
    }
     
    .ui-datatable .ui-button-icon-only .ui-button-text {
        padding: 0;
        line-height: 1.2;
    }
    
    
    
    .ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell {
        text-align: center;
    }
 
    .customPanelGrid .ui-panelgrid-content {
        align-items: center;
    }





.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

ul.dropdown-menu > li.user-header {
    height: auto!important;
}

a.dropdown-toggle {
    background-color: #3c8dbc!important;
}

a#logout {
    color: #3c8dbc!important;
    background: transparent;
}

@media (max-width: 768px) {
    body .control-sidebar {
        padding-top:100px;
    }
}